.new-paste-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 2rem;
}

#text-paste-area {
    width:80vw;
    height: 60vh;
    overflow-y: scroll;
    margin:10px 0px;
}

h2 {
    margin-bottom: 2rem;
}

.submit-btn-paste {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#title {
    margin-bottom: 1rem;
}

#private {
    margin-left:.7rem;
}

.private-paste-checkbox-container {
    margin-top: 10px;
}