.homepageText {
    margin: 10px;
    text-align: center;
    font-size: 1em;
}

.homepageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 79vh;
}

@media screen and (min-width: 760px) {
    .homepageText {
        margin: 10px;
        text-align: center;
        font-size: 1.5em;
    }
    .homepageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 79vh;
    }
}