:root {
    --input-font: courier, arial, helvetica !important;
}

.newPasteContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: 5px;
    margin: 2rem 13rem;
    height: 90vh;
    background-color: #1a1919;
}

ul {
    list-style: none;
}

#pasteArea {
    width: 97%;
    height: 67vh;
    overflow-y: scroll;
    font-size: 1.5em;
    font-family: var(--input-font);
    outline: none;
}

#pasteDetailsForm {
    margin-top: 25px;
}

h2 {
    margin-bottom: 2rem;
}

.submitPasteBtn {
    text-align: center;
}

.label {
    font-size: 1.4em;
    margin: 15px
}

.privatePasteCheckboxContainer {
    margin-top: 10px;
}

@media screen and (max-width: 1200px) {
    .newPasteContainer {
        margin: 2rem 1.2rem;
    }
}