.sign-up-form {
    display: flex;
    flex-direction: column;
}

.form-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.form-item {
    padding: 5px;
    margin: 10px;
}